/* headers */
:root {
  --bs-red: #f71b1b;
}

.Header {
  width: 100vw;
  height: auto;
  padding: 10px 20px 10px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  box-sizing: border-box;
}
.logo {
  margin-left: 20px;
}
.logo img {
  object-fit: contain;
}

.nav-menu {
  display: flex;
  gap: 30px;
}
.nav-menu a {
  text-decoration: none;
  color: inherit;
  font-weight: 450;
}
#active {
  color: #f71b1b;
}
.nav-menu a:hover {
  color: #f71b1b;
}

.nav-icons {
  display: flex;
  gap: 20px;
}
.nav-icons div {
  background-color: var(--bs-red);
  padding: 7px 7px;
  border-radius: 50%;
  color: white;
  cursor: pointer;
}
#menu-dot {
  display: none;
}
.nav-icons button {
  color: white;
  background-color: var(--bs-red);
  outline: none;
  border: none;
  padding: 5px 13px;
  font-size: 13px;
  font-weight: 610;
}
/* ------------headers */

.Main {
  position: relative;
}
.bg-img {
  width: 100vw;
}
.bg-img img {
  width: 100%;
  object-fit: fill;
}
.main-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  position: absolute;
  top: 90px;
  left: 120px;
  padding: 20px 50px;
  box-sizing: border-box;
  max-height: 300px;
}
.main-content h3,
h4 {
  background-color: var(--bs-red);
  color: white;
  padding: 7px 10px;
  border-radius: 5px;
}
.main-content h1 {
  font-size: 2em;
}
.main-content p {
  width: 70%;
}

/* ---------------------------main */

.main-about {
  width: 100vw;
  display: flex;
  gap: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px 40px;
  box-sizing: border-box;
}
.about-img-2 {
  display: flex;
  gap: 10px;
}
.about-img-1 {
  display: flex;
  gap: 10px;
}
#img-1 {
  align-self: flex-start;
  object-fit: contain;
}
.about-content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
}
.about-content span {
  color: var(--bs-red);
  width: max-content;
}

p {
  font-size: 20px;
  font-weight: 200;
}
button {
  background-color: var(--bs-red);
  color: white;
  font-size: 20px;
  outline: none;
  border: none;
  border-radius: 5px;
  font-weight: 200;
  padding: 10px 15px;
}
/* ------------------------------- menu*/
.menu {
  width: 100vw;
  position: relative;
}
.menu-title {
  display: flex;
  flex-direction: column;
}
.menu-title h1 {
  padding: 5px 30px;
  max-width: 600px;
}
.menu-title h1 span {
  display: block;
  display: flex;
  justify-content: center;
}
.menu-title h3 {
  align-self: center;
  background-color: var(--bs-red);
  width: max-content;
  padding: 5px 15px;
  border-radius: 5px;
  font-size: 18px;
  font-weight: 350;
}
.menu img {
  width: 100%;
  object-fit: fill;
}
.menu-content {
  position: absolute;
  top: 100px;
  left: 0px;
  display: flex;
  flex-direction: column;
  width: 100%;
  color: white;
  align-items: center;
}
.menu-items {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.menu-items img {
  max-width: 300px;
  max-height: 300px;
}
.menu-grid {
  display: grid;
  grid-template-columns: repeat(4, minmax(40px, 1fr));
  grid-template-areas:
    "a a b c"
    "a a d d";
  margin: 30px 40px;
  padding: 40px 50px;
  gap: 10px;
}
#img-1 {
  grid-area: a;
}
#img-2 {
  grid-area: b;
}
#img-3 {
  grid-area: c;
}
#img-4 {
  grid-area: d;
}
.grid-item {
  position: relative;
}
.grid-item-cont {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 1;
  color: white;
}
.grid-item-cont img {
  width: 100px;
}
#red {
  color: var(--bs-red);
}

/* ----------------------about */

.about-details {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 30px 40px;
  padding: 40px 50px;
}

.about-d-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.about-d-div img {
  max-width: 50px;
}
.about-d-div p {
  font-size: 16px;
  padding: 0 10px;
}

.about-details-2 {
  display: flex;
  margin: 30px 40px;
  padding: 40px 50px;
}
.img-ret {
  position: relative;
}
#img-abs {
  position: absolute;
  top: 280px;
  right: -65px;
}
.details-cont {
  margin-left: 130px;
  margin-top: 50px;
  padding-top: 50px;
  width: 45vw;
}
/* --- footer  */

.footer {
  width: 100vw;
  min-height: 170px;
}
.bottom-nav {
  display: flex;
  justify-content: space-between;
  width: 100vw;
  height: 35px;
  background-color: #010101;
  padding: 25px 0px;
  border-bottom: 1px solid #393232;
}
.bottom-nav img {
  max-width: 80px;
  max-height: 80px;
  object-fit: contain;
}
.banner img {
  width: 100vw;
  object-fit: fill;
}
.bottom-nav-li {
  display: flex;
  gap: 25px;
  margin-right: 40px;
}

.socila-media {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #010101;
  color: white;
  padding: 10px 0px;
  padding-bottom: 40px;
  border-bottom: 1px solid #393232;
}
.footer-center {
  display: flex;
  justify-content: center;
  font-size: 40px;
}
#logos {
  background-color: white;
  border-radius: 50%;
  margin-top: 10px;
}
.info {
  display: block;
  width: 100vw;
  display: grid;
  justify-content: center;
  margin-top: 10px;
}
.rights {
  display: flex;
  justify-content: space-around;
  background-color: #010101;
  color: white;
}
.rights div {
  display: flex;
}
@media (max-width: 680px) {
  .nav-icons div {
    display: none;
  }
  .main-content {
    position: absolute;
    top: 10px;
    left: 50px;
    height: 40vh;
  }
  .main-content h3,
  h4 {
    background-color: var(--bs-red);
    color: white;
    padding: 7px 10px;
    border-radius: 5px;
  }
  .main-content h1 {
    font-size: 1.5em;
  }
  .main-content p {
    display: none;
    width: 80%;
  }
  .menu-items img {
    max-width: 200px;
    max-height: 200px;
  }
  .menu-content {
    top: 30px;
  }
  .menu-grid {
    display: grid;
    grid-template-columns: repeat(4, minmax(50px, 1fr));
    grid-template-areas:
      "a a b c"
      "a a d d";
    margin: 30px 10px;
    padding: 40px 30px;
    gap: 10px;
  }
  #img-1 {
    grid-area: a;
  }
  #img-2 {
    grid-area: b;
  }
  #img-3 {
    grid-area: c;
  }
  #img-4 {
    grid-area: d;
  }
  .grid-item {
    position: relative;
  }
  .grid-item-cont {
    position: absolute;
    top: 5px;
    left: 10px;
    z-index: 1;
    color: white;
  }
  .grid-item-cont img {
    width: 100px;
  }
  .grid-item-cont h1 {
    font-size: 20px;
  }
  .grid-item-cont p {
    font-style: 10px;
  }
  #img-2 p {
    display: none;
  }
  #img-4-1 {
    display: none;
  }
  #red {
    color: var(--bs-red);
  }
  .about-details-2 {
    display: flex;
    flex-direction: column;
    margin: 30px 20px;
    padding: 40px 20px;
  }
  .details-cont {
    margin-left: 30px;
    margin-top: 50px;
    padding-top: 50px;
    width: 65vw;
  }
  .info {
    display: block;
    width: 100vw;
    display: grid;
    justify-content: center;
    margin-top: 10px;
    padding: 0px 20px;
  }
}

@media (max-width: 470px) {
  #menu-dot {
    display: block;
    z-index: 1;
  }
  .nav-menu {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #393232;
    color: white;
    z-index: 1;
    padding: 30px 20px;
    width: 180px;
    height: 100vh;
    visibility: hidden;
  }

  .dotmenu {
    visibility: visible;
  }

  .main-content {
    position: absolute;
    top: 100px;
    left: 50px;
    height: 10vh;
    max-height: 250px;
  }
  .main-content h3,
  h4 {
    background-color: var(--bs-red);
    color: white;
    /* padding: 7px 10px; */
    border-radius: 5px;
  }
  .main-content h1 {
    font-size: 1em;
  }
  .main-content p {
    width: 100%;
  }
  .menu-items img {
    max-width: 200px;
    max-height: 200px;
  }
  .menu-grid {
    padding: 10px;
    margin-top: 170px;
  }
  .grid-item-cont h1 {
    font-size: 10px;
  }
  .grid-item-cont p {
    font-style: 8px;
  }
}

@media (min-width: 820px) and (max-width: 1200px) {
  .main-about {
    width: 100vw;
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
    align-items: center;
    padding: 30px 40px;
    box-sizing: border-box;
  }
  .about-img-2 {
    display: flex;
    gap: 10px;
    flex-direction: column;
  }
  .about-img-1 {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  #img-1 {
    align-self: flex-start;
    object-fit: contain;
  }
  .about-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
  }
  .about-content span {
    color: var(--bs-red);
    width: max-content;
  }

  p {
    font-size: 20px;
    font-weight: 200;
  }
  button {
    background-color: var(--bs-red);
    color: white;
    font-size: 20px;
    outline: none;
    border: none;
    border-radius: 5px;
    font-weight: 200;
    padding: 10px 15px;
  }
  .menu-items img {
    max-width: 300px;
    max-height: 300px;
  }
  .about-details-2 {
    display: flex;
    margin: 30px 20px;
    padding: 40px 20px;
  }
  .details-cont {
    margin-left: 80px;
    margin-top: 50px;
    padding-top: 50px;
    width: 75vw;
  }
}

@media (min-width: 1200px) {
  .main-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    position: absolute;
    top: 260px;
    left: 250px;
    padding: 20px 50px;
    box-sizing: border-box;
    max-height: 300px;
  }
  .main-content h3,
  h4 {
    background-color: var(--bs-red);
    color: white;
    padding: 7px 10px;
    border-radius: 5px;
  }
  .main-content h1 {
    font-size: 3em;
  }
  .main-content p {
    width: 40%;
  }
  .main-about {
    width: 100vw;
    display: flex;
    flex-direction: row;
    padding: 30px 40px;
    box-sizing: border-box;
  }
  .main-about {
    width: 100vw;
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
    align-items: center;
    padding: 30px 40px;
    box-sizing: border-box;
  }
  .about-img-2 {
    display: flex;
    gap: 10px;
    flex-direction: column;
  }
  .about-img-1 {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  #img-1 {
    align-self: flex-start;
    object-fit: contain;
  }
  .about-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    max-width: 600px;
    margin-left: 40px;
  }
  .about-content span {
    color: var(--bs-red);
    width: max-content;
  }

  p {
    font-size: 20px;
    font-weight: 200;
  }
  button {
    background-color: var(--bs-red);
    color: white;
    font-size: 20px;
    outline: none;
    border: none;
    border-radius: 5px;
    font-weight: 200;
    padding: 10px 15px;
  }

  .menu-items {
    margin-top: 120px;
  }
  .menu-items img {
    max-width: 350px;
    max-height: 400px;
  }
}
